<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>

<body>

<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="http://aijoona.com">Aijoona</a>

            <ul class="nav">
                <li><a href="http://aijoona.com">Home</a></li>
                <li><a href="http://blog.aijoona.com">Blog</a></li>
                <li class="active"><a href="/home">Links</a></li>
                <li><a href="http://nubejs.aijoona.com">nube.js</a></li>
            </ul>
            <form class="pull-right" action="" style="display: none;">
                <input type="text" placeholder="Search">
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">